vti_encoding:SR|utf8-nl
http\://www.loc.gov/exhibits/british/brit-1.html:resources.htm
http\://www.trainweb.org/panama/images/balboa.jpg:resources.htm
http\://www.library.unt.edu/rarebooks/exhibits/popup2/images/columbus.gif:resources.htm
http\://www.whalecove.com/drake2.html:resources.htm
http\://www.probertencyclopaedia.com/j/captain james cook.jpg:resources.htm
http\://www.pbs.org/wayfinders/polynesian3.html:resources.htm
http\://www.nyc.alpha.pl/historia/nychist/pliki/hudson.jpg:resources.htm
http\://www.hallman.org/indian/cook.html:resources.htm
http\://edweb.sdsu.edu/webquest/webquest.html:top.htm credits.htm
http\://edweb.sdsu.edu/webquest/task-design-worksheet.html:myfiles/map.htm
http\://www.angelfire.com/ns/bkeddy/matthew.html:resources.htm
http\://edweb.sdsu.edu/triton/july/rubrics/rubrics_for_web_lessons.html:myfiles/map.htm
http\://www.lobocom.es/~lgalvan/docbalboa.htm:resources.htm
http\://www.southalabama.edu/archives/markers/soto.jpg:resources.htm
http\://www.venus-transit.de/text/cook/tahiti_map_d.jpg:resources.htm
http\://www.puc.cl/sw_educ/historia/conquista/parte2/html/h21.html:resources.htm
http\://www.interlog.com/~gilgames/collapse.htm:resources.htm
http\://www.library.ucla.edu/libraries/special/scweb/cookcheck1.htm:resources.htm
http\://library.thinkquest.org/c004237/english/nond/cabot.html:resources.htm
http\://www.virtualology.com/virtualmuseumofhistory/hallofexplorers/hernandocortes.com/:resources.htm
http\://www.heritage.nf.ca/exploration/early_ex.html:resources.htm
http\://www.mariner.org/age/images/magellan.gif:resources.htm
http\://www.bruce.ruiz.net/panamahistory/balboa.htm:resources.htm
http\://www.ilt.columbia.edu/k12/livetext/curricula/general/webcurr.html:myfiles/mylinks.htm
http\://www.brisray.co.uk/bristol/bvoyage.htm:resources.htm
http\://www.saudades.org/pics/columbus.gif:resources.htm
http\://www.bruce.ruiz.net/panamahistory/hernando_de_soto.htm:resources.htm
http\://www.canadafirst.net/our_heritage/explorers/:resources.htm
http\://cvc.cervantes.es/actcult/museo_naval/sala8/caracteristicas/2629.jpg:resources.htm
http\://www.english.upenn.edu/~jlynch/frankendemo/people/hudson.html:resources.htm
http\://www.amazon.com:t-resources.htm
http\://www.rotoruanz.com/rotoruanz/password/about_rotorua/about_new_zealand/brief_history.htm:resources.htm
http\://content.onlineagency.com/sites/79/images/07_14_chilean-magellan.gif:resources.htm
http\://www.cgps.org/cgslab/johncabot.htm:resources.htm
http\://www.kidport.com/reflib/usahistory/columbus/columbus.htm:resources.htm
http\://www.artehistoria.com/historia/personajes/5939.htm:resources.htm
http\://netcall.com.mx/milenio/fotos/james cook 1.jpg:resources.htm
http\://www.henry-davis.com/maps/ren/ren1/334.html:resources.htm
http\://www.ocean98.org/img/magellan.jpg:resources.htm
http\://www.rootsweb.com/~usgenweb/pa/montgomery/1picts/50henryh.jpg:resources.htm
http\://www.teachingtools.com/slinky/america.html:resources.htm
http\://putwest.boces.org/standards.html:t-standards.htm
http\://www.nhc.rtp.nc.us\:8080/tserve/nattrans/ntecoindian/essays/columbianc.htm:resources.htm
http\://www.wsoy.fi/koulu/reaali/historia/aika/uusiaika/cortes.gif:resources.htm
http\://www.pbs.org/wnet/newyork/laic/episode1/topic1/e1_t1_s1-hh.html:resources.htm
http\://www.loc.gov/bicentennial/propage/fl/fl-13_h_miller4.html:resources.htm
http\://www.enchantedlearning.com/explorers/gifs/cabotmap.gif:resources.htm
http\://www.canadianheritage.org/reproductions/10105.htm:resources.htm
http\://cte.jhu.edu/techacademy/fellows/besnoy/www/images/hudson1.gif:resources.htm
http\://www.mariner.org/images/columbus.jpg:resources.htm
http\://www.70south.com/resources/history/explorers/cook:resources.htm
http\://www.chriscollingwood.com/images/dhm_692.jpg:resources.htm
http\://isl.ira.uka.de/~westphal/australia/explore/cook.html:resources.htm
http\://www.itc.univie.ac.at/~hans/columbus/columbus.gif:resources.htm
http\://www.anbg.gov.au/biography/cook-james.html:resources.htm
http\://edweb.sdsu.edu/webquest/project-selection.html:myfiles/map.htm
http\://www.enchantedlearning.com/bgifs/balboa.gif:resources.htm
http\://oii.org/cyberu/assets/images/columbus.gif:resources.htm
http\://www.ric.edu/rpotter/hudson.gif:resources.htm
http\://projects.edtech.sandi.net/staffdev/tpss99/processchecker.html:myfiles/map.htm
http\://www.sd4history.com/unit1/columbus.htm:resources.htm
http\://go.hrw.com/venus_images/m02a01.gif:resources.htm
http\://projects.edtech.sandi.net/pershing/explorers/images/magellan.gif:resources.htm
http\://www.ed.gov/technology/challenge/:t-introduction.htm
http\://www.virtualology.com/virtualmuseumofhistory/hallofexplorers/johncabot.com/:resources.htm
http\://w1.1585.telia.com/~u186100608/cortez.jpg:resources.htm
http\://classic.archives.nd.edu/maritain/images/ce/art011.htm:resources.htm
http\://edtech.sandi.net/triton/:t-introduction.htm
http\://edweb.sdsu.edu/webquest/taskonomy.html:myfiles/map.htm
http\://telematics.ex.ac.uk/molli/explorers/the_people/explorers.htm:resources.htm
http\://www.stemnet.nf.ca/cod/cabot.jpg:resources.htm
http\://www.ibiblio.org/expo/1492.exhibit/c-columbus/columbus.html:resources.htm
http\://projects.edtech.sandi.net/staffdev/tpss99/searching/stepzero.html:myfiles/map.htm
http\://projects.edtech.sandi.net/staffdev/tpss99/searching/specialized.html:myfiles/map.htm
http\://www.newgenevacenter.org/portrait/cortes.jpg:resources.htm
http\://www.enchantedlearning.com/explorers/gifs/balboamap.gif:resources.htm
http\://www.humanities-interactive.org/newspain/nsgallery.htm:resources.htm
http\://www.enchantedlearning.com/explorers/gifs/hudsonmap.gif:resources.htm
http\://projects.edtech.sandi.net/staffdev/tpss99/rubrics/rubrics.html:myfiles/map.htm
http\://www.evergreencsrd.ab.ca/st.marguerite/explorers/cabot.htm:resources.htm
http\://www.top-biography.com/9015-christopher columbus/life.htm:resources.htm
http\://www.cast.uark.edu/grafix/nps/toltec/desoto1.gif:resources.htm
http\://www.trainweb.org/panama/history.html:resources.htm
http\://projects.edtech.sandi.net/staffdev/tpss99/searching/sevensteps.html:myfiles/map.htm
http\://www.ianchadwick.com/hudson/voyage04.jpg:resources.htm
http\://www.pbs.org/empireofthebay/profiles/hudson.html:resources.htm
http\://cte.jhu.edu/techacademy/fellows/besnoy/www/images/balboa1.gif:resources.htm
http\://www.newnetherland.org/ship.htm:resources.htm
